* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: header;
    src: url(fonts/Arcitectura-PZB.ttf);
}

@font-face {
    font-family: header2;
    src: url(fonts/NEWACADEMY.ttf);
}

/*** Index Style START ***/

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style: none;
}

.navbar li:hover {
    text-decoration: underline;
}

.navbar {
    margin: 0;
    text-align: center;
    background-color: black;
}

header h1 {
    margin: 0;
    text-align: center;
    line-height: 45px;
    font-family: header2;
    font-size: 50px;
}

header p {
    font-size: small;
    margin: 0;
    text-align: center;
    line-height: 40px;
}

.x {
    color: red;
    animation-name: spanspin;
    animation-duration: 2s;
    display: inline-block;
}

@keyframes spanspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.under {
    position: relative;
}

.under::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px #cb1829;
    border-color: #cb1829 transparent transparent transparent;
    border-radius: 50%;

}

.main1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 320px;
    padding: 20px;
    column-gap: 10px;
    width: 100%;
    background-image: url(images/design.jpg);
    backgroud-attachment: fixed;
}

.box1 {
    padding: 10px;
    font-family: header2;
    transition: 0.3s;
    width: 98%;
}

.box1:hover {
    transform: scale(1.03);
}

.box1 h2 {
    font-family: header2;
    color: red;
    text-align: center;
}

.box2 {
    padding: 10px;
    transition: 0.3s;
    width: 98%;
}

.box2:hover {
    transform: scale(1.03);
}

.box2 h2 {
    font-family: header2;
    color: red;
    text-align: center;
}




.box3 {
    padding: 10px;
    transition: 0.3s;
    width: 98%;
}

.box3:hover {
    transform: scale(1.03);
}

.box3 h2 {
    font-family: header2;
    color: red;
    text-align: center;
}

.pricebutton {
    margin-left: 145px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 7px;
    font-family: header2;
    font-size: 20px;
    transition: 0.5s;
}

.pricebutton:hover {
    background-color: black;
    color: white;
    border-color: red;
    box-shadow: 0 0 10px red;
}

.box4 {
    padding: 10px;
    transition: 0.3s;
    width: 98%;
}

.box4:hover {
    transform: scale(1.03);
}

.box4 h2 {
    font-family: header2;
    color: red;
    text-align: center;
}

.box4 li {
    text-decoration: none;
}

.main2 {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    height: 300px;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    background-color: black;
}

.footertext {
    margin: auto;
    text-align: center;
    background-color: rgb(163, 163, 163);
    height: 100px;
    margin-top: 10px;
    color: white;
    line-height: 100px;
}

footer {
    font-family: header2;
    font-size: 20px;
}

.main2 h2 {
    color: rgb(255, 0, 0);
    font-family: header2;
    text-align: center;
}

.main2box1text {
    margin: auto;
    width: 60%;
    border-top: 2px solid red;
    padding: 15px;
    
}

.b {
    color: blue;
}

.r {
    color: red;
}

.y {
    color: yellow;
}

.g {
    color: rgb(10, 216, 10);
}

.bigg {
    font-size: 25px;
}

.mainmiddle {
    background-image: url(images/design.jpg);
    backgroud-attachment: fixed;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-top: 40px;
}

.main2box1 {
    animation-name: main2box1move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.main2box2 {
    animation-name: main2box2move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes main2box1move {
    
    0% {
        opacity: 0;
        transform: translateY(-210%);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes main2box2move {
    
    0% {
        opacity: 0;
        transform: translateY(-210%);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contactmain1 {
    margin: 0;
    text-align: center;
    background-image: url(images/lineimg.jpg);
    height: 50px;
    color: white;
}

.contactmain2box1text {
    margin: auto;
    width: 60%;
    border-top: 2px solid red;
    padding: 10px;
}

.whatsapp {
    width: 170px;
    height: 35px;
    margin-top: -27px;
    margin-left: 100px;
}

.contactmain2box2 {
    background-image: url(images/contactimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
}

.blackcol {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
    margin-top: -30px;
}
